dossier/test/run-pipeline/704_validate__i.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xsd:element name="tag">
		<xsd:complexType>
            <xsd:attribute name="param" type="xsd:string"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="root">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tag">
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>